<div class="col-lg-3 col-md-6 col-sm-12">
    <!--<% link_to(
        event_photo_path(photo.event, photo),
        method: :delete,
        data: {confirm: t('photos.destroy_confirm')}
      ) do %>
        <i class="fa fa-question"></i>
    <% end %>
  <div class="event-photo">
    <% image_title = "Добавил #{render partial: 'users/user', object: photo.user}" %>

    <% if current_user_can_edit?(photo) %>
      <% image_title += link_to(
                              fa_icon('trash'), 
                              event_photo_path(photo.event, photo),
                              method: :delete,
                              data: {confirm: t('photos.destroy_confirm')}
                        ) %>
    <% end %>

    <%= link_to image_tag(photo.photo.thumb.url,class: 'img-thumbnail buffer-bottom'),
          photo.photo.url,
          data: {
            toggle: 'lightbox',
            gallery: 'bbq-photos',
            title: image_title
          } %>
  </div> -->
</div>